:root {
  --yellow: #ffc600;
}

html {
  color: #444;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: underline wavy var(--yellow);
}

h1,
h2 {
  font-size: 80px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

.post {
  display: grid;
  max-width: 1000px;
  margin: 200px auto;
  grid-template-columns: 3fr 12fr 5fr;
  gap: 10px 50px;
}

h2 {
  grid-column: 2 / 3;
}

p {
  grid-column: 2 / 3;
}

.tip {
  background: lightgrey;
  padding: 10px;
}

.tip-right {
  grid-column: 3 / -1;
  border-left: solid #ffc600;
}

.levi {
  background: lightblue;
  display: inline-block;
}

blockquote {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 60px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

figure {
  grid-column: 1 / -1;
  margin: 0;
}

figcaption {
  font-size: 10px;
}

.tip-left {
  grid-column: 1 / 2;
  border-right: solid #ffc600;
  text-align: right;
}
